.input-group-addon.primary {
    color: rgb(255, 255, 255);
    background-color: rgb(50, 118, 177);
    border-color: rgb(40, 94, 142);
}
.input-group-addon.success {
    color: rgb(255, 255, 255);
    background-color: rgb(92, 184, 92);
    border-color: rgb(76, 174, 76);
}
.input-group-addon.info {
    color: rgb(255, 255, 255);
    background-color: rgb(57, 179, 215);
    border-color: rgb(38, 154, 188);
}
.input-group-addon.warning {
    color: rgb(255, 255, 255);
    background-color: rgb(240, 173, 78);
    border-color: rgb(238, 162, 54);
}
.input-group-addon.danger {
    color: rgb(255, 255, 255);
    background-color: rgb(217, 83, 79);
    border-color: rgb(212, 63, 58);
}

/* removed for now to always have detailed fees open
.expand-fees {
    display: none;
}*/

h2 {
    padding-top: 10px;
}

#click-here {
    margin-top: -10px;
    cursor: pointer;
}

.fee-text {
    color: #4D4D4D;
    padding-top: 10px;
    font-size:  18px;
    font-weight: 700;
}

.fee-title {
    padding-left: 15px;
    clear: both;
}

.beta {
    font-size: 30px;
    color: white;
    font-weight: 900;
    margin-bottom: 0px;
}

.beta-div {
    background-color: #00853f;
}

.beta-p {
    border-style: solid;
    border-color: #00853f;
    padding: 5px;
}

.modal-body h3, .modal-body .number-circle {
        display: inline;
}

.clearHR {
    opacity: 0;
}

.hide {
   position: absolute !important;
   top: -9999px !important;
   left: -9999px !important;
}

#title-options {
    text-align: center
}

#old-estimate {
    margin-left: 60px;
}

/*make the circles behind numbers */
.number-circle {
  /*  border-radius: 50%; */
    behavior: url(PIE.htc); /* remove if you don't care about IE8 */
   /* background: #00853f; */

    width: 36px;
    height: 36px;
    padding: 4px;
    padding-right: 13px;
    padding-left: 13px; 
    margin-right: 5px;
    margin-bottom: 0px;
    

    /*border: 2px solid #666;*/
    color: #00853f;
    text-align: center;
    font-size: 30px;
    font-weight: 900;
   /* font: 32px Arial, sans-serif; */
}

.hr-options {
    margin-bottom: 10px;
}

.estimate-options-div {
    margin-bottom: 20px;
}

.estimate-options-block {
    margin-bottom:  100px;
}

/* changed to account for 2 line labels and keep everything in line, can change if we make all 1 line labels*/
.form-group {
    height: 45px;
}

/* center labels next to field*/
.form-horizontal .control-label {
    padding-top: 0px;
    line-height: 1.1;
    vertical-align: middle;
}

.btn-success {
  color: #ffffff;
  background-color: #0069aa;
  border-color: #0069aa;
}

.btn-success.active.focus, .btn-success.active:focus, .btn-success.active:hover, .btn-success:active.focus, .btn-success:active:focus, .btn-success:active:hover, .open>.dropdown-toggle.btn-success.focus, .open>.dropdown-toggle.btn-success:focus, .open>.dropdown-toggle.btn-success:hover {
    color: #fff;
    background-color: #0069aa;
    border-color: #0069aa;
}


/* Loading CSS */
#landingText {
    font-family: Lato;
    color: #2D7431;
    text-align: center;
}
#loading {
    /*background: #f4f4f2 url("img/page-bg.png") repeat scroll 0 0;*/
    height: 100%;
    left: 0;
    margin: auto;
    position: fixed;
    top: 0;
    width: 100%;
}
.bokeh {
    border: 0.01em solid rgba(150, 150, 150, 0.1);
    border-radius: 50%;
    font-size: 100px;
    height: 1em;
    list-style: outside none none;
    margin: 0 auto;
    position: relative;
    top: 35%;
    width: 1em;
    z-index: 2147483647;
}
.bokeh li {
    border-radius: 50%;
    height: 0.2em;
    position: absolute;
    width: 0.2em;
}
.bokeh li:nth-child(1) {
    animation: 1.13s linear 0s normal none infinite running rota, 3.67s ease-in-out 0s alternate none infinite running opa;
    background: #00c176 none repeat scroll 0 0;
    left: 50%;
    margin: 0 0 0 -0.1em;
    top: 0;
    transform-origin: 50% 250% 0;
}
.bokeh li:nth-child(2) {
    animation: 1.86s linear 0s normal none infinite running rota, 4.29s ease-in-out 0s alternate none infinite running opa;
    background: #ff003c none repeat scroll 0 0;
    margin: -0.1em 0 0;
    right: 0;
    top: 50%;
    transform-origin: -150% 50% 0;
}
.bokeh li:nth-child(3) {
    animation: 1.45s linear 0s normal none infinite running rota, 5.12s ease-in-out 0s alternate none infinite running opa;
    background: #fabe28 none repeat scroll 0 0;
    bottom: 0;
    left: 50%;
    margin: 0 0 0 -0.1em;
    transform-origin: 50% -150% 0;
}
.bokeh li:nth-child(4) {
    animation: 1.72s linear 0s normal none infinite running rota, 5.25s ease-in-out 0s alternate none infinite running opa;
    background: #88c100 none repeat scroll 0 0;
    margin: -0.1em 0 0;
    top: 50%;
    transform-origin: 250% 50% 0;
}
@keyframes opa {
12% {
    opacity: 0.8;
}
19.5% {
    opacity: 0.88;
}
37.2% {
    opacity: 0.64;
}
40.5% {
    opacity: 0.52;
}
52.7% {
    opacity: 0.69;
}
60.2% {
    opacity: 0.6;
}
66.6% {
    opacity: 0.52;
}
70% {
    opacity: 0.63;
}
79.9% {
    opacity: 0.6;
}
84.2% {
    opacity: 0.75;
}
91% {
    opacity: 0.87;
}
}

@keyframes rota {
100% {
    transform: rotate(360deg);
}
}

@media (max-width: 768px) {
  #title-options {
    font-size: 28px;
 }

    .fee-title h2 {
        font-size: 24px;
    }

    #old-estimate {
        margin-left: 0px;
    }
}

@media (max-width: 450px) {
  #title-options {
    font-size: 20px;
 }

    .fee-title h2 {
        font-size: 18px;
    }

    h2 {
        font-size: 20px;
    }

    h4 {
        font-size: 16px;
    }

    .control-label {
        float: left;
    }

    .fee-text {
        padding-top: 0px;
        padding-bottom: 15px;
    }

    .estimate-section {
        padding: 10px;
    }

/*.col-xs-1, .col-sm-1, .col-md-1, .col-lg-1, .col-xs-2, .col-sm-2, .col-md-2, .col-lg-2, .col-xs-3, .col-sm-3, .col-md-3, .col-lg-3, .col-xs-4, .col-sm-4, .col-md-4, .col-lg-4, .col-xs-5, .col-sm-5, .col-md-5, .col-lg-5, .col-xs-6, .col-sm-6, .col-md-6, .col-lg-6, .col-xs-7, .col-sm-7, .col-md-7, .col-lg-7, .col-xs-8, .col-sm-8, .col-md-8, .col-lg-8, .col-xs-9, .col-sm-9, .col-md-9, .col-lg-9, .col-xs-10, .col-sm-10, .col-md-10, .col-lg-10, .col-xs-11, .col-sm-11, .col-md-11, .col-lg-11, .col-xs-12, .col-sm-12, .col-md-12, .col-lg-12 {
    padding-left: 5px;
    padding-right: 5px;
}*/
    .expand-fees {
        padding-left: 5px;
        padding-right: 5px;
    }
}